 <IfModule mod_rewrite.c>

    RewriteEngine On

    # Serve file if it exists
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^(.*)?$ - [L]

    # Redirect to the correct file on production environment
    RewriteCond %{DOCUMENT_ROOT}/sites/%{HTTP_HOST}/web%{REQUEST_URI} -f
    RewriteRule ^(.*)?$ sites/%{HTTP_HOST}/web/$1 [L]

    # Redirect to the correct static file if parent_domain is set - remove on production start
    RewriteCond %{HTTP_HOST} (.*)\.twigyard\.localhost
    RewriteCond %{DOCUMENT_ROOT}/sites/%1/web%{REQUEST_URI} -f
    RewriteRule ^(.*)?$ sites/%1/web/$1 [L]
    # Remove on production end

    # Redirect to front controller
    RewriteRule ^(.*)?$ web/app.php?httpauth=%{HTTP:Authorization} [QSA,L]

</IfModule>
