parameters:
    # If set all emails will be sent to this email address
    debug_email: debug@example.com

    # Smtp connection settings
    mailer_smtp_host:       mail
    mailer_smtp_port:       1025
    mailer_smtp_encryption: ~
    mailer_smtp_user:       ~
    mailer_smtp_password:   ~
